[theme="dark"] {
    --font: #ffffff;
    --font-hover: #d4d2d2;
    --background: #303331;
    --btn: #343D5B;
    --btn-sw: #6b6868;
    --right-sw: unset;
    --left-sw: 0;
    --line: #8a8a8a;
  }
  
  [theme="light"] {
    --font: #303331;
    --font-hover: #525753;
    --background: #ffffff;
    --btn: orange;
    --btn-sw: #ebe7e7;
    --right-sw: 0;
    --left-sw: unset;
    --line: #eee;
  }

.identificador{
  background-color: orange;
}

body{
    background-color: var(--background);
    color: var(--font);
  }

.contenidoNav{
    position: relative;
    top : -5px;
}


.supbar{
    background-color: var(--background);
    border : solid;
    border-width: 1px;
    border-color: orange;
}

.downloadbtn{
    background-color: #ff6600;
    color: var(--font);
    height: 50px;
    border-radius: 5px;
    border-style: none;
}

.downloadbtn:hover{
    background-color: #ff761b;
    height: 50px;
    border-radius: 5px;
    border-style: none;
}

a {
  color: var(--font);
}

a:hover {
  color: var(--font-hover);
}

.title {
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    font-size: 80px;
    position: relative;
    top: 15px;
}
