Package: adwaita-icon-theme
Version: 41.0-1ubuntu1
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 5234
Depends: hicolor-icon-theme, gtk-update-icon-cache, ubuntu-mono | adwaita-icon-theme-full
Recommends: librsvg2-common
Breaks: adwaita-icon-theme-full (<< 41.0-1ubuntu1), gnome-themes-standard-data (<< 3.18.0-2~)
Replaces: adwaita-icon-theme-full (<< 41.0-1ubuntu1), gnome-themes-standard-data (<< 3.18.0-2~)
Section: gnome
Priority: optional
Multi-Arch: foreign
Description: default icon theme of GNOME (small subset)
 This package contains the default icon theme used by the GNOME desktop.
 The icons are used in many of the official gnome applications like eog,
 evince, system monitor, and many more.
 .
 This package only contains a small subset of the original GNOME icons which
 are not provided by the Humanity icon theme, to avoid installing many
 duplicated icons. Please install adwaita-icon-theme-full if you want the full
 set.
Original-Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
